.img__title {
  margin-bottom: 50px;
  text-align: center;

  @include font(700, 36px, 1.17, 0.03em);

  color: var(--h-text-color);
}

.about__img {
  padding-top: 0;
  background-color: #ffffff;
  &.container {
    display: flex;
    padding: 0;
  }
}

.img__list {
  display: flex;
  margin-left: -30px;
}

/* .list-item-img:not(:first-child) {
  margin-left: 30px;
} */
.img__item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}

.img__text {
  content: "";
  display: flex;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;

  @include font(700, 14px, 1.14, 0.03em);

  text-align: center;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
