.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  @include desctop {
    display: flex;
    justify-content: space-between;
  }
}
.tablet {
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
}
.address-list {
  @media screen and(min-width: 50px) and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  display: flex;
  flex-direction: column;

  @media screen and(min-width: 50px) and (max-width: 767px) {
    text-align: center;
  }
}
.footer-list {
  font-style: normal;
}
.footer-list-item:not(:last-child) {
  @include mobile {
    margin-bottom: 8px;
  }
  margin-bottom: 9px;
  @include desctop {
    width: 231px;
  }
}

.footer-address-text {
  color: #ffffff;

  @include font(400, 14px, 1.71, 0.03em);
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  @include font(400, 14px, 1.71, 0.03em);
}

//--------------------------------------- footer-soc-link ----------------------------------------------------------------

.footer-soc {
  @media screen and(min-width: 50px) and (max-width: 1199px) {
    margin-bottom: 60px;
    align-items: center;
  }
  display: flex;
  flex-direction: column;

  @include mobile {
    text-align: center;
    align-items: center;
  }
  @include desctop {
    margin-left: 70px;
  }
}
.footer-soc-title {
  @include desctop {
    margin-top: 12px;
  }
  margin-bottom: 20px;

  @include font(null, 14px, 1.14, 0.03em);
  text-transform: uppercase;

  color: #ffffff;
}
.footer-soc-list {
  display: flex;
}
.footer-soc-item:not(:first-child) {
  margin-left: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  transition: transform 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
  }
}

//----------------------------------- footer-form --------------------------------------

.footer-form {
  @media screen and(min-width: 50px) and (max-width: 1199px) {
    text-align: center;
    align-items: center;
  }
  @include desctop {
    width: 570px;
    display: flex;
    flex-direction: column;

    margin-left: 93px;
  }
}

.footer-form-text {
  @include desctop {
    margin-top: 12px;
  }

  margin-bottom: 20px;

  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;

  color: #ffffff;
}
.footer-label {
  position: relative;

  display: flex;
  @media screen and(min-width: 50px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }

  @include desctop {
    flex-wrap: wrap;
  }
}

.footer-input {
  width: 100%;

  @media screen and(min-width: 50px) and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @include tablet {
    width: 450px;
  }
  @include desctop {
    width: 358px;
  }

  height: 50px;
  padding: 15px 0 15px 16px;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(
    0px 4px 4px rgba(0, 0, 0, 0.15)
  );
  border-radius: 4px;
}
.icon-footer {
  margin-left: 10px;
}
.footer-form-btn {
  @include font(700, 16px, 1.88, 0.06em);
  outline: none;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;

  @include desctop {
    width: 200px;
    margin-left: 12px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
