.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;

  border: 1px solid #ececec;
  & .container {
    display: flex;
    align-items: center;
  }
}
.navigation__link {
  color: #212121;

  @include font(500, 14px, 1.14, 0.02em);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);

  &::after {
    display: block;
    position: absolute;
    top: 45px;

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.accent:hover,
.accent:focus {
  cursor: pointer;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__list {
  display: flex;
  margin-left: 93px;
}

.navigation__item {
  position: relative;
  &:not(:first-child) {
    margin-left: 50px;
  }
}

.connect {
  margin-left: auto;

  display: flex;
  align-items: baseline;
}

.connect__tel,
.connect__mail {
  color: #757575;

  @include font(500, 14px, 1.14, 0.02em);
}
.accent + .accent {
  margin-left: 50px;
}
.connect__icon {
  margin-right: 10px;
  fill: currentColor;
}
