.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;

  border: 1px solid #ececec;
  & .container {
    display: flex;
    align-items: center;
  }
}
.navigation__link {
  color: #212121;

  @include font(500, 12px, 1.17, 0.02em);
  @include desctop {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
  transition: color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
    color: var(--accent-color);
  }
}

.current {
  color: var(--accent-color);
  &::after {
    content: "";
    width: 100%;
    height: 4px;
    top: 45px;
    position: absolute;
    display: block;

    border-radius: 2px;
    background-color: var(--accent-color);

    transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.accent:hover,
.accent:focus {
  cursor: pointer;
  color: var(--accent-color);
  transition: color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__list {
  display: none;
  margin-left: 88px;
  @include tablet {
    display: flex;
  }
  @include tablet {
    margin-left: 93px;
  }
}

.navigation__item {
  position: relative;
  margin-bottom: 10px;
  &:not(:first-child) {
    margin-bottom: 0;
    margin-left: 50px;
  }
}

.connect {
  display: none;
  @include tablet {
    display: block;
    margin-left: auto;
  }
  @include desctop {
    display: flex;
    align-items: baseline;
  }
}

.connect__tel,
.connect__mail {
  @include tablet {
    display: block;
  }

  color: #757575;

  @include font(500, 12px, 1.17, 0.02em);
  @include desctop {
    @include font(500, 14px, 1.14, 0.02em);
  }
}
.connect .accent:not(:last-child) {
  @include tablet {
    position: relative;
    margin-bottom: 10px;
  }
}
.accent + .accent {
  @include desctop {
    margin-bottom: 0;
    margin-left: 50px;
  }
}
.connect__icon {
  // margin-right: 10px;
  // fill: currentColor;
  margin-right: 8px;
  fill: currentColor;
  @include desctop {
    margin-right: 10px;
  }
}
.connect__tel .connect__icon {
  width: 10px;
  height: 14px;
  @include desctop {
    height: 16px;
  }
}
.connect__mail .connect__icon {
  width: 14px;
  height: 10px;
  @include desctop {
    width: 16px;
    height: 14px;
  }
}
.menu-btn {
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-left: auto;
  transition: fill 250ms
    cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @include tablet {
    display: none;
  }
}
