.hero__section {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
.hero__title {
  margin: 0 auto 30px auto;
  max-width: 696px;

  @include font(900, 44px, 1.36, 0.06em);
  text-transform: uppercase;

  color: #ffffff;
}
.hero__button {
  padding: 10px 32px;

  @include font(700, 16px, 1.88, 0.06em);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background: var(--accent-color);
}
