.logo__first-part,
.footer-logo-first-part {
  color: #2196f3;
}

.logo,
.footer-logo {
  font-family: "Raleway";
  @include font(700, 24px, 1.16, null);
  @include desctop {
    font-size: 26px;
    line-height: 1.19;
  }

  text-decoration: none;
  color: #000000;
}

.footer-logo {
  margin-bottom: 20px;
  color: #ffffff;
}

// .logo--color-dark {
//   color: #000000;

// }
// .logo--color-light {
//   color: #ffffff;

// }
